.welcome{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
}

  .logo{
      width: 100px;
      height: auto;
}

  .black{
  background-color: black;
  padding: 10px;
  }
