<div class="welcome">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="center">
                <img class="logo" src="assets/angular.png" alt="logo_angular">
                <h3> + </h3>
                <img class="logo" src="assets/material.png " alt="logo_material">
                <h2> = 💓 ÐAPP</h2>
            </div>
            <p>
                Easily scalable ÐAPP using Material Components and Angular 8
            </p>
        </mat-card-content>
        <mat-card-actions>
            <h3> Click on demo and let's Start</h3>
            <button mat-raised-button routerLink="transaction" color="accent">Demo</button>
        </mat-card-actions>
    </mat-card>
</div>