@import '~@angular/material/theming';
@include mat-core();

$skale-primary: mat-palette($mat-blue-grey, 900);
$skale-accent:  mat-palette($mat-green, 200);
$skale-warn:    mat-palette($mat-deep-orange);

$skale-theme: mat-light-theme($skale-primary, $skale-accent, $skale-warn);

@include angular-material-theme($skale-theme);

body {
    margin: 0;
  }