.transaction{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
  }
  .body{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
  }
  
  mat-form-field{
    padding: 12px;
  }
  
  