.transaction{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
  }
  .body{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
  }

  mat-form-field{
    padding: 12px;
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }



